/* General */
html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
article,aside,footer,header,nav,section {
    display:block;
}
li {
    list-style: none;
}
section {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    background: white;
    display: block;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    color: #1d1d1d;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
a {
    color: #ed3f36;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    text-decoration: none !important;
    color: var(--bs-link-color);
}
figure {
    margin: 0 !important;
}
/* Typography */
h1 {
    font-size: 3rem !important;
    font-weight: bold !important;
}
h2 {
    font-size: 2rem;
    margin-bottom: 1em !important;
}
h3 {
    font-size: 1.5rem;
}
h2 span {
    color: #ed3f36;
}
p span {
    color: #ed3f36 !important;
}

/* Menu */
.main-menu {
    width: 100%;
    background-color: #edefee;
    height: 4rem;
    position: fixed;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
}
.main-menu-top {
    background: transparent;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    padding: 0;
}
.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-manu-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}
.main-manu-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

.logo img {
    width: 3rem;
    height: auto
}
.nav-items {
    font-size: 1rem;
    padding: 0;
    display: inline-block;
}
.nav-items a {
	letter-spacing: 3px;
	color: #515152;
	position: relative;
	display: inline-block;
	z-index: 100;
}
nav a::after {
	content: '';
	display: block;
	height: 2px;
	background-color: #ed3f36;
	width: 0%;
	position: absolute;
	bottom: 12;
	padding-top: 3px;
	transition: all ease-in-out 300ms;
}
nav a:hover::after {
	width: 100%;
}
/* Content */
.section-full {
    min-height: 100vh;
    padding: 9rem 3rem;
    position: relative;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
    flex-wrap: wrap;
    width: 100%;
}
#home {
    background-image: url("assets/layered-peaks.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}
.hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    margin: 2em 0;
    width: 100%;
}
.hero-typed {
    color: #ed3f36;
}
.typed-cursor, .typed-cursor--blink {
    opacity: .25 !important;
}
.hero p {

}
.zvdbtn {
    border-radius: 6px;
    border: 2px solid #1d1d1d;
    background-color: transparent;
    color: #1d1d1d;
    font-weight: bold;
    padding: 1rem 3rem;
    align-items: end;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 300ms; 
}
.zvdbtn:visited {
    border: 2px solid #1d1d1d;
    color: #1d1d1d; 
}
.zvdbtn:hover {
    border: 2px solid #ed3f36;
    color: #ed3f36;
    transition: all ease-in-out 300ms; 
}
.zvdbtn-work:hover {
    border: 2px solid #ed3f36;
    color: #ed3f36;
    transition: all ease-in-out 300ms;
}
.zvdbtn-project {
    border: 2px solid #1d1d1d;
    color: #1d1d1d;
}
.selfie {
    max-width: 250px;
    height: auto;
    border-radius: 100%;
    margin: 15% auto 0 auto;
    display: flex;
}
.section-full .container {
    display: flex;
    width: 100%;
}
#skills {
    background-image: url("assets/layered-peaks.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    height: auto;
}
.skills {
    display: flex;
    flex-wrap: wrap;
}
.skills h2 {
    width: 100%;
    font-weight: bold;
}
.skills h3 {
    padding: 2em 0 5em 0;
}
.skills-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2em 0 0 0;
}
#work {
    background-image: url("assets/layered-peaks.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.work-grid {
    display: flex;
    flex-wrap: wrap;
}
.work-item {
    padding: .5em;
    display: block;
    position: relative;
    overflow: hidden;
}
.work-item figure, .work-item .overlay {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.work-grid .work-item figure figcaption {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0rem 3rem;
    color: #fff;
    z-index: 1
}
figcaption {
    z-index: 1;
    align-content: space-around;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
}
.work-item figcaption, .work-item .overlay {
    position: absolute;
    inset: 0;
    padding: 1rem;
    margin: .5em;
    width: auto;
    height: auto;
    opacity: 0;
    -webkit-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
}
.overlay {
    background-color: #edefee;
    padding: 0.5em;
}
.work-item:hover figcaption,
.work-item:hover .overlay {
    opacity: 1;
    -webkit-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
}
.work-grid .work-item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
img {
    max-width: 100%;
    display: block;
}
figcaption h3 {
    font-size: 1em;
}
.outline {
    border: 1px solid #edefee;
    border-radius: 10px;
}
#about {
    min-height: 50vh;
    background-image: url("assets/layered-peaks.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#contact {
    background-image: url("assets/layered-peaks.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}
/* fa styling */
.fa-code {

}
/* Form Styling */
#contact-form {
    width: 100%;
    background: white;
    padding: 25px;
    margin: 1em 0 5em 0;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%), 0 5px 5px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
}

#contact-form h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact-form h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width: 100%;
  border: 1px solid #edefee;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact-form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact-form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #ed3f36;
  color: #FFF;
  margin: 0 0 5px;
  padding: 1em;
  font-size: 15px;
}

#contact-form button[type="submit"]:hover {
  background: #1d1d1d;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
.social-icons {
    text-align: left;
    padding: 0;
    }
  .social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    }
  .social-icons li a {
    border-bottom: none;
    }
  .social-icons li img {
    width:30px;
    margin-right: 20px;
  }
/* Media Queries */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 7vw !important;
        margin-top: 0px !important;
    }
    body {
        padding: 0 !important;
    }
    .btn-work {
        margin-top: 2em;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
    }
    .work-item {
        flex: none;
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .work-item {
        width: 50%;
    }
    .zvdbtn-work {
        max-width: 250px;
        margin-top: 2em;
    }
}
@media only screen and (max-width: 992px) {
    .full-nav {
        display: none;
    }
    body {
        padding: 1em;
    }
    .section-full {
        padding: 1em;
        align-items: start;
    }
    h1 {
       font-size: 2.5rem; 
    }
}
@media only screen and (min-width: 992px) {
    a:hover {
        color:#ed3f36 !important;
    }
    .section-full {
        padding: 0 3rem;
    }
    .mod-nav, .open-mod-nav {
        display: none;
    }
    .main-menu {
        width: 13rem;
        background-color: #edefee; 
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 3;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
    } 
    .main-menu-top {
        background: transparent;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 2rem 0;
    }
    .logo img {
        width: 6rem;
        height: auto
    }
    .nav-items a {
        letter-spacing: 3px;
        color: #515152;
        position: relative;
        display: inline-block;
        z-index: 100;
    }
    nav a::after {
        content: '';
        display: block;
        height: 2px;
        background-color: #ed3f36;
        width: 0%;
        position: absolute;
        bottom: 12;
        padding-top: 3px;
        transition: all ease-in-out 300ms;
    }
    nav a:hover::after {
        width: 100%;
    }
    #contact-form {
        max-width: 75vh;
        padding: 3em;
        margin: 5em auto;
    }
}