/* General */
html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
article,aside,footer,header,nav,section {
    display:block;
}
li {
    list-style: none;
}
section {
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    background: white;
    display: block;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    color: #1d1d1d;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
a {
    color: #fd2155;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    text-decoration: none;
}

/* Typography */
h1 {
    font-size: 3rem !important;
    font-weight: bold !important;
}

/* Menu */
.main-menu {
    width: 100%;
    background-color: #edefee;
    height: 5rem;
    position: fixed;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
}
.main-menu-top {
    background: transparent;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    padding: 0;
}
.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-manu-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}
.main-manu-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

.logo img {
    width: 3rem;
    height: auto
}
.nav-items {
    font-size: 1rem;
    padding: 0;
    display: inline-block;
}
.nav-items a {
	letter-spacing: 3px;
	color: #515152;
	position: relative;
	display: inline-block;
	z-index: 100;
}
nav a::after {
	content: '';
	display: block;
	height: 2px;
	background-color: #ed3f36;
	width: 0%;
	position: absolute;
	bottom: 12;
	padding-top: 3px;
	transition: all ease-in-out 300ms;
}
nav a:hover::after {
	width: 100%;
}
/* Content */
.section-full {
    min-height: 100vh;
    padding: 9rem 3rem;
    position: relative;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
#home {
    background-image: url("assets/layered-peaks.png");
    background-repeat: none;
    background-size: cover;
}
.hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    margin-top: 2em;
}
.hero-typed {
    color: #ed3f36;
}
.typed-cursor, .typed-cursor--blink {
    opacity: .25 !important;
}
.hero p {
    margin-top: 3em;
}

.btn-work {
    border-radius: 6px;
    border: 2px solid #1d1d1d;
    background-color: transparent;
    color: #1d1d1d;
    font-weight: bold;
    padding: 1rem 3rem;
    margin-top: 2em;
    align-items: end;
    position: absolute;
}
.btn-work:hover {
    border: 2px solid #ed3f36;
    color: #ed3f36;
    transition: all ease-in-out 300ms;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 7vw !important;
    }
    body {
        padding: 0 !important;
    }
}
@media only screen and (max-width: 992px) {
    .full-nav {
        display: none;
    }
    body {
        padding: 1em;
    }
    .section-full {
        padding: 1em;
        align-items: start;
    }
    h1 {
       font-size: 2.5rem; 
    }
}
@media only screen and (min-width: 992px) {
    .mod-nav, .open-mod-nav {
        display: none;
    }
    .main-menu {
        width: 13rem;
        background-color: #edefee; 
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 3;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
    } 
    .main-menu-top {
        background: transparent;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 2rem 0;
    }
    .logo img {
        width: 6rem;
        height: auto
    }
    .nav-items a {
        letter-spacing: 3px;
        color: #515152;
        position: relative;
        display: inline-block;
        z-index: 100;
    }
    nav a::after {
        content: '';
        display: block;
        height: 2px;
        background-color: #ed3f36;
        width: 0%;
        position: absolute;
        bottom: 12;
        padding-top: 3px;
        transition: all ease-in-out 300ms;
    }
    nav a:hover::after {
        width: 100%;
    }
}